<!DOCTYPE html>
<html lang="eng">
<head>
    <link rel="stylesheet" type="text/css" href="../css/index.html.css">
    <title>Worker</title>
</head>
<div class="">
    <h1 class="content__branches-list">List of workers</h1>
    {% for row in rows %}
        <li class="work-page__branches">
            <div class="work-item">
                <div class="branch-name">{{ loop.index }}</div>
                <a class="branch-name" href="/worker.php?id={{ row.id|trim }}" >{{ row.first_name }} {{ row.last_name }} {{ row.middle_name }}</a>
            </div>
        </li>
    {% endfor %}
</div>
</html>