<!DOCTYPE html>
<html lang="eng">
<head>
    <link rel="stylesheet" type="text/css" href="css/branch.html.css">
    <title>Worker</title>
</head>
<div class="">
    <a href="index.php" style="font-size: 30px;">Branches/</a>
    <span class="address">Address:</span>
    <input id="address-input" class="address" value="{{ branchInfo.address }}">
    <span class="city">City:</span>
    <input id="city-input" class="city" value="{{ branchInfo.city }}">
    <span class="workers-count">Count of workers:</span>
    <input id="workers-count-input" class="workers-count" value="{{ branchInfo.workers_count }}">
    <button class="update-branch" type="submit" onclick="return confirm('Are you sure you want to save new info about this branch?')">Save</button>
    <h1 class="content__branches-list" data-value="{{ branch_id }}">Branch number {{ branch_id }}, workers:</h1>
    {% for row in rows %}
        <div class="work-page__branches" id="branches">
            <div class="work-item">
                <div class="branch-name">{{ loop.index }}</div>
                <a class="worker-full-name" href="worker.php?id={{ row.id|trim }}&branch_id={{ branch_id }}">Full name: {{ row.first_name }} {{ row.last_name }} {{ row.middle_name }}</a>
                <div class="worker-position">Position: {{ row.position }}</div>
                <form method="post" action="deleteWorker.php?branch_id={{ branch_id }}">
                    <input type="hidden" name="worker_id" value="{{ row.id|trim }}">
                    <button type="submit" onclick="return confirm('Are you sure you want to delete this worker?')">Delete</button>
                </form>
            </div>
        </div>
    {% endfor %}
    <div class="work-page__new-worker">
        <button class="new-worker__title">
            Add worker
        </button>
    </div>
    <div class="work-page__add-worker">
        <label class="add-worker__label">
            Enter first name
            <input class="label__worker-name">
        </label>
        <label class="add-worker__label">
            Enter last name
            <input class="label__worker-last-name">
        </label>
        <label class="add-worker__label">
            Enter middle name
            <input class="label__worker-middle-name">
        </label>
        <label class="add-worker__label">
            Enter position
            <input class="label__worker-position">
        </label>
        <button class="add-worker__button">Add</button>
    </div>
</div>
</html>

<script type="module" src="js/simplyScripts/addWorker.js"></script>
<script type="module" src="js/simplyScripts/updateBranchInfo.js"></script>
