<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список рабочих мест</title>
    <link rel="stylesheet" href="css/index.html.css">
</head>
<body>
<div class="work-page">
    <h1 class="content__branches-list">Branches</h1>
    {% for row in rows %}
        <div class="work-page__branches">
            <div class="work-item">
                <div class="work-id">{{ row.id }}</div>
                <div class="branch-container">
                    <a class="address" href="branch.php?id={{ row.id|trim }}">Address: {{ row.address }}</a>
                    <div class="city">City: {{ row.city }}</div>
                    <div class="workers-count">Count of workers: {{ row.workers_count }}</div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="work-page__new-branch">
        <button class="new-branch__title">
            Add company branch
        </button>
    </div>
    <div class="work-page__add-branch">
        <label class="add-branch__label">
            Enter address
            <input class="label__branch-address">
        </label>
        <label class="add-branch__label">
            Enter city
            <input class="label__branch-city">
        </label>
        <label class="add-branch__label">
            Enter count of workers
            <input class="label__branch-workers-count">
        </label>
        <button class="add-branch__button">Add</button>
    </div>
</div>
</body>
</html>

<script type="module" src="/js/simplyScripts/addBranch.js"></script>

