<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список рабочих мест</title>
    <link rel="stylesheet" href="/css/index.html.css">
</head>
<body>
<div class="work-page">
    <h1 class="content__branches-list">List of branches</h1>
    {% for row in rows %}
        <div class="work-page__branches">
            <div class="work-item">
                <div class="work-id">{{ row.id }}</div>
                <a class="branch-name" href="/branch.php?id={{ row.id|trim }}">{{ row.branch_name }}</a>
                <div class="city">{{ row.city }}</div>
                <div class="address">{{ row.address }}</div>
                <div class="workers-count">{{ row.workers_count }}</div>
            </div>
        </div>
    {% endfor %}
    <form class="work-page__new-branch" onclick="newBranchForm(); return false;">
        <button class="new-branch__title">
            Add company branch
        </button>
    </form>
    <div class="work-page__add-branch" onsubmit="addBranchForm(); return false">
        <label class="add-branch__label">
            Enter branch name
            <input class="label__branch-name">
        </label>
        <label class="add-branch__label">
            Enter city
            <input class="label__branch-city">
        </label>
        <label class="add-branch__label">
            Enter address
            <input class="label__branch-address">
        </label>
        <label class="add-branch__label">
            Enter count of workers
            <input class="label__branch-workers-count">
        </label>
        <form onclick="addBranchForm(); return false">
            <button class="add-branch__button">Add</button>
        </form>
    </div>

</div>
</body>
</html>

<script>
    const WORK_PAGE_NEW_BRANCH = ".work-page__new-branch"
    const WORK_PAGE_ADD_BRANCH = ".work-page__add-branch"
    const new_branch = document.querySelector(WORK_PAGE_NEW_BRANCH);
    const add_branch = document.querySelector(WORK_PAGE_ADD_BRANCH);

    const LABEL_BRANCH_CITY = ".label__branch-city"
    const LABEL_BRANCH_NAME = ".label__branch-name"
    const LABEL_BRANCH_WORKERS_COUNT = ".label__branch-workers-count"
    const LABEL_BRANCH_ADDRESS= ".label__branch-address"
    const DISPLAY_NONE = "none";
    const DISPLAY_FLEX = "flex";
    const city = document.querySelector(LABEL_BRANCH_CITY);
    const name = document.querySelector(LABEL_BRANCH_NAME);
    const workers_count = document.getElementById(LABEL_BRANCH_WORKERS_COUNT);
    const address = document.querySelector(LABEL_BRANCH_ADDRESS);

    function newBranchForm(display1="none", display2="flex")
    {

        new_branch.style.display = display1;
        add_branch.style.display = display2;
    }

    function addBranchForm()
    {
        if (city.value.trim() === "" || name.value.trim() === "" || workers_count.value.trim() === "" || address.value.trim() === "") {
            alert("One or more fields are empty");
            return;
        }

        setTimeout(function () {
            newBranchForm(DISPLAY_FLEX, DISPLAY_NONE);
        }, 300);

        city.value = "";
        name.value = "";
        workers_count.value = "";
        address.value = "";

        console.log(workers_count);
    }

</script>