<!DOCTYPE html>
<html lang="eng">
<head>
    <link rel="stylesheet" type="text/css" href="css/worker.html.css">
    <title>Worker</title>
</head>
<div class="worker-container">
    <div style="display: flex; flex-direction: row">
        <a href="index.php" style="font-size: 30px;">Branches/</a>
        <a href="branch.php?id={{ branch_id }}" style="font-size: 30px;">Workers</a>
    </div>
    <div style="display: none" id="worker" data-value="{{ row.id }}"></div>
    <div style="display: none" id="branch" data-value="{{ branch_id }}"></div>
    <h1 class="worker-header">Worker {{ row.first_name }} {{ row.last_name }}</h1>
    <div class="worker-header__person">
        <ul>
            <li class="worker-item">
                <label class="worker-label">
                    <div class="worker-info">Name: </div>
                    <input id="name" class="worker-input" value="{{ row.first_name }}">
                </label>
                <label class="worker-label">
                    <div class="worker-info">Middle name: </div>
                    <input id="middleName" class="worker-input" value="{{ row.middle_name }}">
                </label>
                <label class="worker-label">
                    <div class="worker-info">Last name: </div>
                    <input id="lastName" class="worker-input" value="{{ row.last_name }}">
                </label>
                <label class="worker-label">
                    <div class="worker-info">Phone number: </div>
                    <input id="phoneNumber" class="worker-input" value="{{ row.phone_number }}">
                </label>
                <label class="worker-label">
                    <div class="worker-info">Email: </div>
                    <input id="email" class="worker-input" value="{{ row.email }}">
                </label>
                <label class="worker-label">
                    <div class="worker-info">Sex: </div>
                    <select class="worker-sex" name="sex" id="sex-select">
                        <option value="{{ row.sex }}">{{ row.sex }}</option>
                        <option value="male">male</option>
                        <option value="female">female</option>
                    </select>
                </label>
                <label class="worker-label">
                    <div class="worker-info">Birth date: </div>
                    <input id="birthDate" class="worker-input" value="{{ row.birth_date }}">
                </label>
                <label class="worker-label">
                    <div class="worker-info">Hiring date: </div>
                    <input id="hiringDate" class="worker-input" value="{{ row.hiring_date }}">
                </label>
                <label class="worker-label">
                    <div class="worker-info">Position: </div>
                    <input id="position" class="worker-input" value="{{ row.position }}">
                </label>
                <label>
                    <div class="worker-info">Administrator comment: </div>
                    <input id="comment" class="worker-info__administrator-comment" value="{{ row.comment }}">
                </label>
            </li>
        </ul>
        <div>
            <img id="img" class="person-image" src="static/worker-img-{{ row.id }}.png" alt="worker_photo">
            <form class="person-form" enctype="multipart/form-data" method="post" action="saveWorkerImg.php?id={{ row.id }}&branch_id={{ branch_id }}">
                <p>Загрузите ваши фотографии на сервер</p>
                <p><input id="img_loader" type="file" name="photo" multiple accept="image/*,image/jpeg">
                    <input type="submit" value="Отправить"></p>
            </form>
        </div>
    </div>
    <button id="save">Save changes</button>
</div>
</html>

<script>
    document.getElementById('img_loader').onchange = event => {
        let reader = new FileReader();
        reader.onload = e => document.getElementById('img').src = e.target.result;
        reader.readAsDataURL(event.target.files[0]);
    };
</script>
<script type="module" src="js/simplyScripts/saveWorkerInfo.js"></script>